	html, body {
		background: #111111;
	}

	#mapDiv {
		min-height: 100px; 
		max-height: 1000px; 
	}

	#colors { 
		display: inline-block; 
		float: left; 
		width: 20%; 
		height: 50px; 
		background-color: rgb(231, 231, 231); 
		border-style: solid; 
		border-color: white; 
		text-align: center;
		vertical-align: middle;
		line-height: 50px; 
		border-radius: 10px;
		cursor: pointer;
		margin-bottom: 5px;
		margin-top: 5px;
	}